
  body {
    margin: 0;
    padding: 0;
}

.footer {
    width: 100%;
    background-color:#1A244D ;
    color: #DCF2F1;
        padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
  
  img{
    height:600px;
  }
  .logo{
    max-width: 200px;
    width: 100%;
    display: flex;
      align-items: center;
      justify-content: center; 
     }
  .header {
    background-color:rgb(33, 43, 54);
    height: 90px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
      justify-content: center;
}

.Search-box {
    width: 50%;
    height: 45px;
    display: flex;
    justify-content: center;
    
}


.input-group-text {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    text-align: right;
}

  .menu-bar{
    margin-right:50PX;
    width: 50%;
    text-align: right;


  } 
   
  .menu-bar ul li{
    padding: 20px ;
    text-align: center;
    cursor: pointer;
  } 
  .menu-bar ul li a{
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  .side-menu ul li a {
    color: #1A244D ;
    text-decoration: none;
}

.side-menu ul li a:hover {
    color:  #FFCC57;
}
.header i {
  color: #ffffff !important; /* White color for icons */
}

.header a {
  color: #ffffff !important; 
}

.header a:hover {
  color: #ffcc57;
}

  @media only screen and (max-width: 980px) {
    .header {
        height: 150px;
        border-bottom: 0;
        flex-direction: column; 
        align-items: center; 
    }

    .Search-box {
      margin-top: 50px;
        width: 100%;
        height: 50px;
    }
   

    .menu-bar {
        background-color:rgb(33, 43, 54);
        width: 100%;
        margin-right: 0;
        text-align: center;

    }

    .menu-bar ul {
        margin: 10px 0;
        width: 100%;
        display: flex; 
        justify-content: center; 
    }

    .menu-bar ul li {
        height: 60px;
    }
}

  .side-menu{
    height: 80%;
    width: 20%;
    font-size: 14px;
    float: left;
    background-color: #DCF2F1;
    display: none;
    z-index: 2;
    position: fixed;
  }
  .side-menu ul{
    margin-left: 10px;
  }
  .side-menu ul li{
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
  }
  .side-menu ul li:hover{
    color: #365486;
  }
  .side-menu ul li ul{
    display: none;
    z-index: 10;
    top: 75px;
  }
  .list-unstyled li:hover > ul {
    display: block;
    height: 400px;
    margin-left: 19%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background-color: #DCF2F1;
  }
  @media only screen and (max-width:980px){
    .side-menu{
      width: 34%;
      font-size: 12px;
    }
    .side-menu ul li ul{
      top:133px
    }
    .list-unstyled li:hover > ul {
      margin-left: 31%;
    }
    
  }
  #menu-btn,#close-btn{

     font-size: 30px;
     margin: 10px;
     color: #0F1035;
     display: none;
  }
  #menu-btn{
    display: block;
  }
 a{
    text-decoration: none;
  }
.carousel{
  margin-bottom: 30px;
  box-shadow: 1px 1px 5px 1px #0F1035;
}



.category-container {
  margin-bottom: 20px;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.category-container h2 {
color: white;
background-color:#FFCC57;
width: 180px;
height: 40px;
padding: 5px 10px;
font-size: 24px;
margin-bottom: 30px;
display: flex;
position: relative;
}

.category-container h2::after {
content: '';
border-top: 40px solid #FFCC57;
border-right: 50px solid transparent;
position: absolute;
top: 0;
right: -49px;
}


.product-container {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 20px;
background-color: #f5f5f5;
padding: 15px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product {
flex: 0 0 calc(23% - 20px);
border: 1px solid #ddd;
border-radius: 8px;
padding: 15px;
margin: 10px;
text-align: center;
background-color: #fff;
transition: transform 0.3s ease-in-out;
}

.product:hover {
transform: scale(1.05);
}
.add-to-cart {
margin-top: 5px;
cursor: pointer;
background-color: #3498db;
color: #fff;
padding: 8px 15px;
border: none;
border-radius: 4px;
transition: background-color 0.3s ease-in-out;
}


.product h3 {
color: #333;
font-size: 18px;
}

@media only screen and (max-width:980px) {
.product {
    flex: 0 0 calc(100% - 20px);
}

}