body {
    background: #f5f5f5;
}

   /* header at small screens */

   .header {
    background-color:rgb(33, 43, 54);
    height: 90px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
      justify-content: center;
}
.logo{
  max-width: 200px;
  width: 100%;
  display: flex;
    align-items: center;
    justify-content: center; 
   }
.Search-box {
    width: 50%;
    height: 45px;
    display: flex;
    justify-content: center;
    
}


.input-group-text {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    text-align: right;
}

  .menu-bar{
    margin-right:50PX;
    width: 50%;
    text-align: right;


  } 
   
  .menu-bar ul li{
    padding: 20px ;
    text-align: center;
    cursor: pointer;
  } 
  .menu-bar ul li a{
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
 
.header i {
  color: #ffffff !important; 
  
}

.header a {
  color: #ffffff !important; 
}

.menu-bar ul li:hover a,
.menu-bar ul li:hover i,
.header h4:hover i,
.header h4:hover p {
  color: #FFCC57 !important;
}


  /* header at small screens */

  @media only screen and (max-width: 980px) {
    .header {
        height: 150px;
        border-bottom: 0;
        flex-direction: column; 
        align-items: center; 
    }

    .Search-box {
      margin-top: 50px;
        width: 100%;
        height: 50px;
    }
   

    .menu-bar {
        background-color:rgb(33, 43, 54);
        width: 100%;
        margin-right: 0;
        text-align: center;

    }

    .menu-bar ul {
        margin: 10px 0;
        width: 100%;
        display: flex; 
        justify-content: center; 
    }

    .menu-bar ul li {
        height: 60px;
    }
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : #3B5998;
    color       : #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #000;
    color       : #fff;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
/* footer */
.footer {
    margin-top: 50px;
    background-color:#1A244D ;
    color: #DCF2F1;
    box-sizing: border-box;
  }
  .footer a:hover p,
  .footer a:hover i{
    color: #FFCC57 !important;
  }